# https://discordapp.com/developers/applications/
DISCORD_OWNER_ID=
DISCORD_TOKEN=

# Jabber
JABBER_USERNAME=
JABBER_HOST=
JABBER_PASSWORD=

# redis:// URL http://www.iana.org/assignments/uri-schemes/prov/redis
# REDIS_URL=redis://localhost:6379

# Image (avatar) uploading
POMF_HOST=https://awau.moe/
POMF_URL=https://api.awau.moe/upload/pomf
POMF_KEY=
