DISCORD_TOKEN=
DISCORD_OWNER_ID=164046181352079361
DISCORD_CHANNEL_ID=
DISCORD_GUILD_ID=
DISCORD_WEBHOOK_ID=
DISCORD_WEBHOOK_TOKEN=

JABBER_USERNAME=username
JABBER_HOST=example.com
JABBER_PASSWORD=secret
JABBER_MUC=room@conference.example.com
JABBER_MUC_JID=room@conference.example.com/nickname

# Image hosting
POMF_HOST=https://awau.moe/
POMF_URL=https://api.awau.moe/upload/pomf
POMF_KEY=
